body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #aaa;
  --color-gray: #191718;
  --color-black: #000;
}
