.background,
.background1 {
  position: absolute;
  top: 0;
  left: 14px;
  background-color: var(--color-white);
  width: 1918px;
  height: 935px;
}
.background1 {
  left: 0;
  width: 1768px;
}
.logoncc-1-icon {
  position: absolute;
  top: 20px;
  left: 729px;
  width: 310px;
  height: 122px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #efefef;
  width: 1510px;
  height: 210px;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 38px;
  left: 634px;
}
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 77px;
  left: 269px;
  font-size: var(--font-size-base);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 972px;
}
.rectangle-parent {
  position: absolute;
  top: 172px;
  left: 129px;
  width: 1510px;
  height: 210px;
  font-size: 18px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 470px;
  height: 252px;
}
.ullamcorper-ultricies-donec {
  position: absolute;
  top: 180px;
  left: 0;
  display: inline-block;
  width: 470px;
  height: 72px;
}
.lorem-ipsum-dolor2,
.lorem-ipsum-dolor3 {
  position: absolute;
  top: 46px;
  left: 144px;
  display: inline-block;
  width: 326px;
  height: 134px;
}
.lorem-ipsum-dolor3 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  width: 470px;
  height: 28px;
}
.css-icon-1 {
  position: absolute;
  top: 46px;
  left: 0;
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.content,
.group-div,
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 422px;
  left: 129px;
  width: 470px;
  height: 252px;
}
.content,
.group-div,
.rectangle-container {
  left: 649px;
}
.content,
.group-div {
  left: 1169px;
}
.content {
  top: 0;
  left: 164px;
  width: 1768px;
  height: 935px;
}
.border-icon,
.component-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.component-child {
  height: 100%;
  bottom: 0;
  background-color: var(--color-white);
}
.border-icon {
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1768px;
  height: 79px;
}
.copyright-2021,
.footer {
  position: absolute;
  top: 30px;
  left: 129px;
}
.footer {
  top: 856px;
  left: 164px;
  width: 1768px;
  height: 79px;
  color: #3e3e3e;
}
.sidebar-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray);
  width: 164px;
  height: 935px;
}
.border-icon1,
.home-item-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.home-item-child {
  height: 100%;
  top: 0;
  background-color: var(--color-gray);
}
.border-icon1 {
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.home {
  position: absolute;
  top: 14px;
  left: 16px;
}
.home-item,
.news-item-child,
.services-item {
  position: absolute;
  left: 0;
  width: 164px;
  height: 44px;
}
.home-item {
  top: 0;
  color: var(--color-white);
}
.news-item-child,
.services-item {
  top: 44px;
}
.news-item-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #5c5c5c;
}
.blog-item,
.contact-item,
.news-item,
.sidebar {
  position: absolute;
  left: 0;
  width: 164px;
  height: 44px;
}
.news-item {
  top: 88px;
  color: var(--color-white);
}
.blog-item,
.contact-item,
.sidebar {
  top: 132px;
}
.contact-item,
.sidebar {
  top: 176px;
}
.sidebar {
  top: 0;
  height: 935px;
  color: var(--color-darkgray);
}
.background-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 935px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
